/* Mise en forme de la section Activités */

.activity-section h2
{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 55px;
}

.activity-section .bloc-card
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 600px;
    gap: 2%;
    margin-left: 50px;
    margin-right: 90px;
}

.activity-section .card-column .border-activity
{
    margin-bottom: 50px;
}

.activity-section img
{
    object-fit: cover;
    width: 340px;
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    margin-bottom: 30px;
}

.picture-activity-1,
.picture-activity-4
{
    height: 465px;
}

.picture-activity-2
{
    height: 185px;
}

.picture-activity-3
{
    height: 155px;
}

.picture-activity-5
{
    height: 160px;
}

.picture-activity-6
{
    height: 180px;
}

.border-activity
{
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.062);
    max-height: 535px;
    padding-bottom: 20px;
}

.border-activity:hover
{
    transform: scale(1.03);
}

.activity-section .text-activity
{
    font-weight: 600;
    margin-left: 20px;
    margin-right: 10px;
}