@font-face {
    font-family: 'raleway';
    src: url(fonts/Raleway-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
    height: 992px;
    margin: 50px;
}

header img
{
    height: 50px;
}

input 
{
    padding: 4px 10px;
    border: 1px solid black;
    font-size: 16px;
}

